/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background-color: #0d0c0c4a; /* Color de fondo azul claro */
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Sombra sutil */
    border-radius: 15px; /* Sombra sutil */
}

.logo {
    height: 50px; /* Ajusta esto al tamaño que prefieras */
}

header h1 {
    color: #333; /* Color de texto gris oscuro */
    font-size: 24px;
    margin: 0; /* Eliminar margen */
}

/* Propiedades flexbox para el contenedor */
header .container {
    display: flex;
    flex-direction: column; /* Organizar en columna */
}

/* Elementos del lado izquierdo */
.top-section {
    display: flex;
    align-items: center;
}

/* Elementos del lado derecho */
nav {
    display: flex;
    justify-content: space-between;
}

/* Menús de navegación */
header nav ul {
    list-style: none; /* Eliminar viñetas */
    padding: 0; /* Eliminar padding */
    margin: 0; /* Eliminar margen */
}

header nav li {
    display: inline-block; /* Mostrar elementos del menú en línea */
    padding: 10px 20px; /* Agregar espacio entre elementos del menú */
    background-color: #333; /* Establecer el color de fondo */
    border-radius: 15px; /* Bordes redondeados */
}

header nav li a {
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 18px;
    transition: color 0.3s ease; /* Efecto suave al pasar el mouse */
}

header nav li a:hover {
    color: #ccc; /* Gris claro al pasar el mouse */
}

.user-info {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 15px; /* Bordes redondeados */
}

.user-info.welcome-msg {
    color: #fff; /* Color de texto blanco */
}

.user-info a {
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 18px;
    transition: color 0.3s ease; /* Efecto suave al pasar el mouse */
}

.user-info a:hover {
    color: #ccc; /* Gris claro al pasar el mouse */
}

/* Footer */
footer {
    background: #000000;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

footer ul {
    list-style-type: none;
    padding: 10px 0;
}

footer ul li {
    display: inline-block; /* Cambiado a inline-block */
    margin: 0 10px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

/*Main*/
/* Estilos para el botón */
button {
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Sin bordes */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Hacer que el botón sea un bloque en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen alrededor del botón */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse sobre el botón */
}

/* Estilos para el campo de entrada */
input[type=text] {
    width: 100%; /* Ancho completo */
    padding: 12px 20px; /* Espaciado interno */
    margin: 8px 0; /* Margen alrededor del campo de entrada */
    box-sizing: border-box; /* Asegurarse de que el padding y el borde estén incluidos en el ancho total */
    border: 3px solid #ccc; /* Borde alrededor del campo de entrada */
    -webkit-transition: 0.5s; /* Transición suave al cambiar el tamaño */
    transition: 0.5s; /* Transición suave al cambiar el tamaño */
    outline: none; /* Sin contorno al seleccionar el campo de entrada */
}

/* Cambiar el tamaño del campo de entrada al seleccionarlo */
input[type=text]:focus {
    border: 3px solid #555;
}

/* Estilos para el chat y el video */
.chat, .video {
    width: 45%; /* Ancho del chat y del video */
    margin: 2.5%; /* Margen alrededor del chat y del video */
    float: left; /* Hacer que el chat y el video floten uno al lado del otro */
}