/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background-color: #0d0c0c4a; /* Color de fondo azul claro */
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Sombra sutil */
    border-radius: 15px; /* Sombra sutil */
}

.logo {
    height: 50px; /* Ajusta esto al tamaño que prefieras */
}

header h1 {
    color: #333; /* Color de texto gris oscuro */
    font-size: 24px;
    margin: 0; /* Eliminar margen */
}

/* Propiedades flexbox para el contenedor */
header .container {
    display: flex;
    flex-direction: column; /* Organizar en columna */
}

/* Elementos del lado izquierdo */
.top-section {
    display: flex;
    align-items: center;
}

/* Elementos del lado derecho */
nav {
    display: flex;
    justify-content: space-between;
}

/* Menús de navegación */
header nav ul {
    list-style: none; /* Eliminar viñetas */
    padding: 0; /* Eliminar padding */
    margin: 0; /* Eliminar margen */
}

header nav li {
    display: inline-block; /* Mostrar elementos del menú en línea */
    padding: 10px 20px; /* Agregar espacio entre elementos del menú */
    background-color: #333; /* Establecer el color de fondo */
    border-radius: 15px; /* Bordes redondeados */
}

header nav li a {
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 18px;
    transition: color 0.3s ease; /* Efecto suave al pasar el mouse */
}

header nav li a:hover {
    color: #ccc; /* Gris claro al pasar el mouse */
}

.user-info {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 15px; /* Bordes redondeados */
}

.user-info.welcome-msg {
    color: #fff; /* Color de texto blanco */
}

.user-info a {
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 18px;
    transition: color 0.3s ease; /* Efecto suave al pasar el mouse */
}

.user-info a:hover {
    color: #ccc; /* Gris claro al pasar el mouse */
}

/* hacia abajo header */

/* Footer */
footer {
    background: #000000;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 10px 0;
}

footer {
    color: #ffffff;
}

footer ul li {
    display: inline-block; /* Cambiado a inline-block */
    margin: 0 10px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}
/* Foro */

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forum-post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.forum-title {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}
.forum-title .title-link {
    color: #000; /* Cambia el color a negro */
    text-decoration: none; /* Elimina la línea de subrayado */
}

.forum-title .title-link:hover {
    color: #000; /* Mantiene el color negro al pasar el mouse */
}

.forum-tema {
    font-size: 1.2em;
    color: #666;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.crear {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.crear:hover {
    background-color: #0056b3;
}

/* Estilos para dispositivos con pantalla de hasta 600px de ancho */
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .item {
        margin-bottom: 20px;
    }

    /* Añade más estilos específicos para móviles aquí */
}

/* Estilos para dispositivos con pantalla de entre 601px y 900px de ancho */
@media (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 20px;
    }

    .container {
        width: 90%;
        padding: 0 15px;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        flex: 0 0 50%; /* Hace que los elementos de la grid ocupen la mitad del ancho */
        margin-bottom: 20px;
    }

    /* Añade más estilos específicos para tablets aquí */
}

/* Estilos para dispositivos con pantalla de más de 900px de ancho */
@media (min-width: 901px) {
    body {
        font-size: 22px;
    }

    .container {
        width: 80%;
        margin: auto;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        flex: 0 0 33.33%; /* Hace que los elementos de la grid ocupen un tercio del ancho */
    }

    /* Añade más estilos específicos para desktop aquí */
}


