/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  background-color: #0d0c0c4a; /* Color de fondo azul claro */
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Sombra sutil */

}

.logo {
  height: 50px; /* Ajusta esto al tamaÃ±o que prefieras */
}

header h1 {
  color: #333; /* Color de texto gris oscuro */
  font-size: 24px;
  margin: 0; /* Eliminar margen */
}

/* Propiedades flexbox para el contenedor */
header .container {
  display: flex;
  flex-direction: column; /* Organizar en columna */
}

/* Elementos del lado izquierdo */
.top-section {
  display: flex;
  align-items: center;
}

/* Elementos del lado derecho */
nav {
  display: flex;
  justify-content: space-between;
}

/* MenÃºs de navegaciÃ³n */
header nav ul {
  list-style: none; /* Eliminar viÃ±etas */
  padding: 0; /* Eliminar padding */
  margin: 0; /* Eliminar margen */
}

header nav li {
  display: inline-block; /* Mostrar elementos del menÃº en lÃ­nea */
  padding: 10px 20px; /* Agregar espacio entre elementos del menÃº */
  background-color: #333; /* Establecer el color de fondo */
  border-radius: 15px; /* Bordes redondeados */
}

header nav li a {
  color: #fff; /* Color de texto blanco */
  text-decoration: none; /* Eliminar subrayado */
  font-size: 18px;
  transition: color 0.3s ease; /* Efecto suave al pasar el mouse */
}

header nav li a:hover {
  color: #ccc; /* Gris claro al pasar el mouse */
}

.user-info {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 15px; /* Bordes redondeados */
}

.user-info.welcome-msg {
  color: #fff; /* Color de texto blanco */
}

.user-info a {
  color: #fff; /* Color de texto blanco */
  text-decoration: none; /* Eliminar subrayado */
  font-size: 18px;
  transition: color 0.3s ease; /* Efecto suave al pasar el mouse */
}

.user-info a:hover {
  color: #ccc; /* Gris claro al pasar el mouse */
}

/* Footer */
footer {
  background: #000000;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  position: relative;
}

footer ul {
  list-style-type: none;
  padding: 10px 0;
}

footer {
  color: #ffffff;
}

footer ul li {
  display: inline-block; /* Cambiado a inline-block */
  margin: 0 10px;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}
/* hacia abajo main */


body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

input[type="file"] {
  margin-bottom: 20px;
}

button, input[type="submit"] {
  background-color: #333;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
  background-color: #444;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #333;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
.custom-file-upload:hover {
  background-color: #45a049; /* Darker green on hover */
}

h2 {
  color: #333; /* Cambia el color del texto */
  font-family: Arial, sans-serif; /* Cambia la fuente */
  font-size: 24px; /* Cambia el tamaño de la fuente */
  text-align: center; /* Centra el texto */
  margin-top: 20px; /* Añade margen superior */
  margin-bottom: 20px; /* Añade margen inferior */
}